<section class="col-xs-12 col-md-8">
  <section class="row">
    <article class="col-xs-12">
      <h3>&Agrave; treize en danse</h3>
      <p>Clothilde Kieffert vous accueille dans son école de danse du XIIIème arrondissement de Paris.</p>
      <p>Nos cours de danse classique et modern jazz s'adressent à tout public du débutant au confirmé. Les niveaux sont
        définis par le professeur. Les enfants, dès 3 ans, sont les bienvenus.</p>
      <p>Ceux-ci sont répartis par petits groupes afin de faciliter l'apprentissage et de permettre un suivi
        personnalisé.</p>
      <p>L'école est ouverte du lundi au samedi. Vous pouvez retrouver le planning complet sur 
        <a href routerLink="/planning">cette page</a>.</p>
      <p>Cours progressif du stade débutant au niveau confirmé. Possibilité de cours d'essai.</p>
    </article>
  </section>
  <section class="row">
    <img src="assets/images/treize-en-danse.png" class="col-xs-12">
  </section>
  <section class="row">
    <article class="col-xs-12">
      <h2>Nos prestations :</h2>
      <h4>Les disciplines enseignées</h4>
      <ul>
        <li>La Danse Classique</li>
        <li>Le Modern’Jazz</li>
        <li>Le cours de remise en forme</li>
      </ul>
      <h4>À travers 4 cycles d’évolution progressive :</h4>
      <ul>
        <li>Cycle 1 : Eveil « les premiers apprentissages »</li>
        <li>Cycle 2 : Initiation à la danse</li>
        <li>Cycle 3 : La consolidation des fondamentaux</li>
        <li>Cycle 4 : La maîtrise des acquis</li>
      </ul>
      <h4>Notre offre pédagogique s’adresse à toutes les classes d’âge</h4>
      <ul>
        <li>
          Les « touts petits » à partir de 3 ans à 6 ans (Les maternelles).
        </li>
        <li>
          Les enfants de 6 ans à 11 ans, tranche d’âge qui correspond à l’école élémentaire (CP, CE1, CE2, CM1, CM2).
        </li>
        <li>
          Les adolescents de 11 ans à 15 ans, globalement le secondaire et plus précisément les classes du collège.
        </li>
        <li>
          Les jeunes adultes de 15 à 20 ans, les années lycée et les premières années d’études supérieures.
        </li>
        <li>
          Les adultes à partir de 20 ans et au-delà, sans limite d’âge : seuls l’enthousiasme, la passion et la
          motivation comptent ! (Etudiants, adultes en activité professionnelle)
        </li>
      </ul>
    </article>
  </section>
</section>
<section class="hidden-xs col-md-4">
  <article class="col-xs-12">
    <h4>Derni&egrave;res actualit&eacute;s</h4>
    <p>
      C'est la rentrée! Venez découvrir l'école de danse en prenant un cours d'essai.
    </p>
    <p>
      Ouverture et Inscription dès le mercredi 6 septembre à partir de 14H00.
    </p>
    <p>
      Reprise des cours le lundi 11 Septembre.
    </p>
  </article>
  <article class="col-xs-12">
    <h4>Nos activités</h4>
    <ul>
      <li>Cours de Danse Classique.</li>
      <li>Cours de Modern Jazz.</li>
      <li>Cours de remise en forme.</li>
    </ul>
  </article>
  <article class="col-xs-12">
    <h4>Les niveaux et la répartition</h4>
    <ul>
      <li>Cours enfant - à partir de 3 ans -</li>
      <li>Cours adolescent, adulte, sénior.</li>
      <li>Cours collectif ou particulier.</li>
    </ul>
  </article>
</section>
