<section class="col-xs-12 col-md-8">
    <section class="row">
        <article class="col-xs-12">
            <h3>&Agrave; treize en danse</h3>
            <p>Clothilde Kieffert vous accueille dans son &eacute;cole de danse du XIII&egrave;me arrondissement de
                Paris.</p>
            <p>Nos cours de danse classique et modern jazz s'adressent à tout public du débutant au confirmé. Les
                niveaux sont définis
                par le professeur après observation de l'élève. Les enfants, d&egrave;s 3 ans, sont les bienvenus.</p>
            <p>Ceux-ci sont répartis par petits groupes afin de faciliter l'apprentissage.</p>
            <p>L'école est ouverte du lundi au samedi. Vous pouvez retrouver le planning complet sur
                <a href routerLink="/planning">cette page</a>.</p>
        </article>
    </section>
    <article class="row">
        <img src="assets/images/treize-en-danse.png" class="col-xs-12">
    </article>
</section>
<section class="hidden-xs col-md-4">
    <article class="col-xs-12">
        <h4>Derni&egrave;res actualit&eacute;s</h4>
        <p>C'est la rentr&eacute;e ! Venez d&eacute;couvrir l'&eacute;cole de danse &agrave; travers des ateliers
            d'initiation.</p>
        <p>Les cours ont repris le lundi 12 septembre (consultez les horaires sur <a href routerLink="/planning">le
            planning</a> pour
            venir d&eacute;couvrir nos ateliers).</p>
    </article>
    <article class="col-xs-12">
        <h4>Nos activités</h4>
        <ul>
            <li>Cours de Danse Classique.</li>
            <li>Cours de Modern Jazz.</li>
            <li>Cours de remise en forme.</li>
        </ul>
    </article>
    <article class="col-xs-12">
        <h4>Les niveaux et la répartition</h4>
        <ul>
            <li>Cours enfant - à partir de 3 ans -</li>
            <li>Cours adolescent, adulte, sénior.</li>
            <li>Cours collectif ou particulier.</li>
        </ul>
    </article>
</section>