<section class="row">
  <section class="col-xs-12 col-sm-4">
    <div class="centered">
      <img src="/assets/images/Clothilde-150x150.png" alt="Clothilde Kieffert" class="img-circle">
      <h2>Clothilde Kieffert</h2>
    </div>
    <ul class="hidden-xs mark-my-words">
      <li>Diplômée d'État</li>
      <li>Diplômée de l'Association  Française des Maîtres de Danse Classique</li>
      <li>Habilitée par le Ministère de la Culture</li>
    </ul>
  </section>
  <section class="col-xs-12 col-sm-8">
    <h4 class="centered">
      <span class="mark-my-words">&quot;</span>Chemin de vie d’une passion enthousiaste pour un art sacré : la
      Danse !<span class="mark-my-words">&quot;</span>
    </h4>
    <p class="justify">
      Danseuse de formation classique par passion, professeure dévouée par vocation, chorégraphe inspirée par
      destination et directrice par raison, Clothilde est à la fois une théoricienne convaincue et une praticienne
      chevronnée de la Danse Classique et de Modern’Jazz en raison de ses multiples interventions, entre 1981 et 1998,
      d’une part au sein de l’association sportive de Vauhallan (91) et dans des centres parisiens renommés tels que :
      <i>Le club 31</i>, <i>Le club 107</i>, <i>Le 13 en forme</i> d’autre part en raison aussi de sa fonction de
      professeure associée, dès 1990, au sein de l’école Nadine Derbesse établie à Paris depuis 1959.
    </p>
    <p class="justify">
      En 1999, Clothilde reprendra les rênes de la destinée de cette institution, qui porte son nom depuis cette date,
      en tant que directrice.
    </p>
    <p class="justify">
      Enfin, en 2015, Clothilde décide de créer l’association <i>13 en Danse</i>, dont elle est la présidente, avec
      l’ambition de développer et de promouvoir l’Art du Mouvement à travers l’enseignement de la Danse, de la mise en
      scène, de la chorégraphie ; et de porter des projets de spectacles dansés. L‘association est membre de la
      fédération française de danse.
    </p>
    <h4 class="centered">
      <span class="mark-my-words">&quot;</span>40 ans d’une passion authentique au service de l’art de la danse concrétisés par une vocation sincère de la
      transmission...<span class="mark-my-words">&quot;</span>
    </h4>
    <h2>Diplômes d’enseignement supérieur</h2>
    <ul>
      <li>1996 : Obtention de l’agrément du ministère de la culture</li>
      <li>1995 : Diplôme d’Etat (D.E.) : professeur de danse classique</li>
      <li>1991 : Obtention des dispenses des deux diplômes de professorat de danse classique et de Modern’Jazz</li>
      <li>1987 : Diplômée de <i>l’Association Française des Maîtres de Danse Classique</i></li>
    </ul>

    <h2>Formation</h2>

    <h5>De 1980 à aujourd’hui</h5>
    <p class="justify">
      Formation permanente à la danse classique, successivement avec mesdemoiselles Yvonne GOUBE, Yvonne MEYER,
      Janine SCHARTZ, Jennifer GOUBE et Jacqueline RAYET ; messieurs Stéphane PRINCE et Attilio LABIS.
    </p>

    <h5>De 1975 à aujourd’hui</h5>
    <p class="justify">
      Formation permanente au Modern’Jazz, successivement avec messieurs Matt MATTOX, Joseph RUSSILLO, Robert POMPER,
      René DESHAUTEURS, RHEDA, et Bruno VANDELLI : mademoiselle Karen LEVEN.
    </p>

    La formation continue: Pédagogie ; musique ; anatomie ; histoire de la danse

    <h5>De 1994 à 1995</h5>
    <p class="justify">
      À l’U.E.D avec mesdames BOUBE HAUSSAIE & GARGENDEAU ; messieurs LABIS PLISSETSKY & GALLI et le docteur
      KLINGELSCHMITT.
    </p>

    <h5>De 1980 à 1990</h5>
    <p class="justify">
      À l’A.F.M.D.C. avec mesdames VYROUBOVA, BENAC & GOLOMER ; messieurs DAVESNE, REVERDY & FAUGOIN.
    </p>

    <h2>La formation Initiale</h2>

    <h5>De 1970 à 1984</h5>
    <p class="justify">
      Élève de Daniel FRANCK, Nina VYROUBOVA, Solange GOLOVINE et Gilbert MEYER.
    </p>

    <h5>De 1972 à 1974</h5>
    <p class="justify">
      Élève à l’école de l’Opéra de Paris. Participation aux spectacles « Circus Polka ».
    </p>


    <h2>Les Réalisations Probantes</h2>


    <h5>De la recherche en pédagogie</h5>
    <ul>
      <li>Mise en place de programmes pédagogiques spécifiques pour les plus jeunes élèves,</li>
      <li>Partenaire du projet <strong><i>dix mois d’école à l’opéra</i></strong> de 2014 à 2016.</li>
    </ul>

    <h5>De la recherche en chorégraphie</h5>

    <ul>
      <li>Création et organisation de spectacles de fin d’année : portes ouvertes, présentation des élèves,</li>
      <li>Conception et mis en scène de galas privés (pour différents clients tels que : Direct Film ; Rank Xerox ;
      A.O.I.P., etc.)</li>
      <li><strong><i>Rencontres de danse du 13e</i></strong> en partenariat avec les associations culturelles de Paris...</li>
    </ul>
  </section>
</section>
