<section class="row">
  <section class="col-xs-12">
    <h3>Programme de l'&eacute;cole</h3>
    <p>L'&eacute;cole propose diff&eacute;rent cours en fonction du niveau des &eacute;l&egrave;ves.</p>
    <p>Vous pouvez retrouver l'ensemble du planning de la semaine ci-dessous.</p>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th class="invisible"></th>
          <th></th>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">09:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="6" class="course">Cours de : "Remise en forme"</td>
          <!-- Wednesday -->
          <td rowspan="4"></td>
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
          <td rowspan="6" class="course">Classique Adultes Niveau Moyen</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">10:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <!-- Wednesday -->
          <td rowspan="4"></td>
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="2"></td>
          <td rowspan="6" class="course">Classique Adultes Niveau Intermédiaire</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">11:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="4"></td>
          <!-- Wednesday -->
          <td rowspan="4"></td>
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">12:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="4"></td>
          <!-- Wednesday -->
          <td rowspan="4"></td>
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
          <td rowspan="6" class="course">Classique Adultes Pointes/Niveau confirmé</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">13:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="4"></td>
          <!-- Wednesday -->
          <td></td>
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique Enfants 6/8 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">14:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="4"></td>
          <!-- Wednesday -->
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique Enfants 8/10 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">15:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="4"></td>
          <!-- Wednesday -->
          <!-- Thirsday -->
          <td rowspan="4"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique Enfants 9/11 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">16:00</td>
          <!-- Monday -->
          <td rowspan="4"></td>
          <!-- Tuesday -->
          <td rowspan="3"></td>
          <!-- Wednesday -->
          <!-- Thirsday -->
          <td rowspan="3"></td>
          <!-- Friday -->
          <td rowspan="4"></td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique Enfants 11/14 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Cours d'éveil Maternelle</td>
          <td rowspan="3" class="course">Cours d'éveil Maternelle (sous réserve)</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">17:00</td>
          <td></td>
          <td rowspan="4" class="course">Classique Enfants 6/8 ans</td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique enfant 7/9 ans</td>
          <td></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="3" class="course">Cours d'éveil Maternelle</td>
          <td rowspan="4" class="course">Jazz Enfants 8/11 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Classique Enfants 11/13 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">18:00</td>
          <td rowspan="6" class="course">Classique Jeunes Adultes 16/19 ans</td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="5" class="course">Classique Adolescents 13/16 ans</td>
          <td rowspan="6" class="course">Jazz Jeunes Adultes 15/18 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Jazz Enfants 11/13 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4" class="course">Jazz Adolescents 13/15 ans</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">19:00</td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="8" class="course">Jazz Adultes Niveau Confirmé</td>
          <td rowspan="8" class="course">Jazz Adultes Niveau Intermédiaire</td>
          <td rowspan="8" class="course">Classique Adultes Niveau Intermédiaire</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="7" class="course">Jazz Adultes Niveau Confirmé</td>
          <td rowspan="7" class="course">Classique Adulte Niveau Confirmé</td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="4">20:00</td>
          <!-- Saturday -->
          <td rowspan="4"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
          <td rowspan="2">21:00</td>
          <!-- Saturday -->
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td class="invisible"></td>
        </tr>
      </tbody>
    </table>
  </section>
</section>