<section class="row">
  <section class="col-xs-12">
    <h3>Programme de l'&eacute;cole</h3>
    <p>L'&eacute;cole propose diff&eacute;rent cours en fonction du niveau des &eacute;l&egrave;ves.</p>
    <p>Vous pouvez retrouver l'ensemble du planning de la semaine ci-dessous.</p>
    <p>Vous pouvez également télécharger le planning
      <a target="_blank" href="assets/pdf/Planning-2018-2019.pdf">ici</a>.
    </p>
  </section>
  <section class="col-xs-12">
    <img src="assets/planning.png" alt="Planning école de danse" class="col-xs-12">
  </section>
</section>
