<section class="row">
  <article class="col-xs-12">
    <h3>Contact</h3>
    <p>Vous pouvez contacter l'&eacute;cole par téléphone du lundi au vendredi de 9h30 &agrave; 12h00 puis entre 15h00 et 16h30 :</p>
    <ul>
      <li>Sur le num&eacute;ro de permanence : 06 45 78 97 44</li>
      <li>Au studio : 01 45 88 17 33</li>
      <li>Par email : <a href="mailto:13endanse@gmail.com">13endanse@gmail.com</a></li>
    </ul>
  </article>
</section>
<section class="row">
  <article class="col-xs-12 col-md-5">
    <h3>Comment vous rendre &agrave; l'&eacute;cole ?</h3>
    <p>L'&eacute;cole se situe au 9 Rue du Dr Leray dans le treizi&egrave;me arrondissement de Paris.</p>
    <p>Vous pouvez vous rendre &agrave; l'&eacute;cole en transport en empruntant :</p>
    <ul>
      <li>le m&eacute;tro ligne 7, arr&ecirc;t Maison Blanche</li>
      <li>le bus :</li>
      <ul>
        <li>ligne 513, arr&ecirc;t Place de l'Abb&eacute; Georges Henocque</li>
        <li>ligne 57, arr&ecirc;t Place de l'Abb&eacute; Georges Henocque</li>
        <li>ligne 47, arr&ecirc;t Maison Blanche</li>
      </ul>
    </ul>
  </article>
  <section class="col-xs-12 col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.841601808358!2d2.3527726157889735!3d48.82308361114584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67184e3464db3%3A0xc07b069548cfdb14!2sEcole+de+Danse+Clothilde+Kieffert!5e0!3m2!1sfr!2sfr!4v1469190894163"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</section>