.header {
    background: url('../images/treize-en-danse.png') no-repeat top;
    height: 397px;
}
.header h1 {
    color: #fff;
    padding-top: 40px;
}
.header h2 {
    color: #ffe;
}
.menu {
    background-color: #000;
    color: #fff;
}
.menu .col-xs-4 {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}