html, body {
    /*background-color: #FEFDF0;*/
}

.header {
    background: url('../images/chausson-danse.png') no-repeat 90% 0%; /* #FFFFF0 */
    height: 240px;
}
.header h1 {
    padding-top: 80px;
}
.navbar-custom {
    /*background-color: #F5F5DC;*/
    /*border-color: #e7e7e7;*/
}
.navbar-brand {
    padding: 0px 15px;
}
.menu .navbar-custom .navbar-nav>.active>a,
.menu .navbar-custom .navbar-nav>.active>a:focus, 
.menu .navbar-custom .navbar-nav>.active>a:hover,
.menu .nav>li>a:focus, .menu .nav>li>a:hover{
    /*color: #555;*/
    /*background-color: #FDE9E0;*/
}
.container {
    padding-bottom: 50px;
}

.image img {
    height: 600px;
}
.media-caroussel .slick-next:before, .media-caroussel .slick-prev:before {
    opacity: .25;
    color: #000;
}

.course {
    background-color: #FFFFF0;
    /*color: #f5f5f5;*/
}