.header {
    background: url('../images/danseuse.png') #FFFFF0 no-repeat 90% 0%;
    height: 390px;
}
.header h1 {
    /*color: #fff;*/
    padding-top: 40px;
}
.header h2 {
    /*color: #ffe;*/
}
.menu {
    /*background-color: #000;*/
    /*color: #fff;*/
}
.menu .col-xs-4 {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}