<section class="col-xs-12 col-md-7">
    <section class="row">
        <article class="col-xs-12 presentation">
            <h3>Bienvenue sur le site de l'école de danse Treize en Danse.</h3>
            <p>
                L'école, dirigée par Clothilde Kieffert, professeure de danse diplômée d'état et diplômée de
                l'Association Française des Maître de la Danse Classique, vous accueille du
                <a href routerLink="/planning">lundi au samedi</a> pour des cours d'éveil à la danse (2 à 6 ans),
                de danse classique, modern jazz, assouplissements et remise en forme (pour plus de détails merci de vous
                rendre sur la page <a href routerLink="/planning">planning</a>).
            </p>
            <h3>Notre engagement</h3>
            <ul>
                <li><span class="mark-my-words">&quot;</span>Partager un chemin de vie d'une passion pour l'art du
                    mouvement<span class="mark-my-words">&quot;</span></li>
                <li>Une méthode d'apprentissage évolutive et progressive</li>
                <li>Un éveil à la danse dès le premier age</li>
                <li>Une initiation à la danse comme un art sacré</li>
                <li>La consolidation des fondamentaux</li>
                <li>Une maîtrise complète des acquis au fil du temps</li>
                <li>Et par dessus tout, une ambiance familiale, positive et motivante pour la pratique de ce sport sacré</li>
            </ul>
        </article>
        <article class="col-xs-12 centered">
            <img src="/assets/images/clothilde-gala.jpg" alt="Clothilde Kieffert - Treize en Danse">
        </article>
    </section>
</section>
<section class="hidden-xs hidden-sm col-md-5">
    <article class="col-xs-12">
        <app-facebook-cmp></app-facebook-cmp>
    </article>
</section>
