<section class="col-xs-12">
  <h3>Decrouvez l'&eacute;cole en image</h3>
  <div class="media-caroussel">
    <div class="image"><img data-lazy="assets/images/gallery/1-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/2-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/3-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/4-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/5-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/6-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/7-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/8-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/9-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/10-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/11-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/12-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/13-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/14-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/15-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/16-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/17-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/18-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/19-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/20-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/21-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/22-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/23-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/24-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/25-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/26-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/27-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/28-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/29-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/30-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/31-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/32-gallery.jpg">
    </div>
    <div class="image"><img data-lazy="assets/images/gallery/33-gallery.jpg">
    </div>
  </div>
</section>
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('.media-caroussel').slick({
          lazyLoad: 'ondemand',
          // dots: false,
          // infinite: true,
          // speed: 500,
          // fade: true,
          // cssEase: 'linear',
          centerMode: true,
          variableWidth: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
        });
    });
</script>-->