<section class="row">
  <article class="col-xs-12">
    <h3>Informations & renseignements</h3>
    <h5>A l’école de Danse</h5>
    <ul>
      <li>le Lundi - Mardi - Jeudi - Vendredi de 16h30 à 19h30</li>
      <li>le Mercredi de 13h30 à 19h30</li>
      <li>le Samedi sur rendez-vous uniquement</li>
    </ul>
    <h5>Par téléphone</h5>
    <ul>
      <li>De 9h30 à 12h30 puis de 15h00 à 16h30 au 01 45 88 17 33</li>
      <li>Permanence : 06 45 78 97 44</li>
    </ul>
    <h5>Sur internet</h5>
    <ul>
      <li>Adresse mail : <a href="mailto:13endanse@gmail.com"></a>13endanse@gmail.com</li>
      <li>Site de l’école : <a href="https://www.clothildekieffert.com">www.clothildekieffert.com</a></li>
      <li>
        <a href="https://plus.google.com/+EcoledeDanseClothildeKieffertParis">Google+</a> &
        <a href="https://www.facebook.com/TreizeEnDanse/">Facebook</a>
      </li>
    </ul>
  </article>
  <article class="col-xs-12">
    <h3>Horaires D’ouverture du studio de danse</h3>
    <ul>
      <li>Le Lundi - Mardi - Jeudi - Vendredi de 16h30 à 19h30</li>
      <li>Le Mercredi de 13h30 à 19h30</li>
      <li>Le Samedi de 9h00 à 13h30</li>
    </ul>
  </article>
</section>
